# TUGAS_TRANSFORMASI DATA

In [4]:
import pandas as pd
import numpy as np
tugas=pd.read_csv("D:\Documents\Kuliah\SEMESTER 6\DATA MINING\Tugas 3 (Transformasi Data)\Concrete_Data.csv")

In [5]:
np.sum(tugas.isnull())

Cement                   44
Blast Furnace Slag      471
Fly Ash                 566
Water                     0
Superplastic            379
Coarse Aggregate          0
Fine Aggregate            0
Age                       0
Compressive strength      0
dtype: int64

In [6]:
tugas['Cement']=tugas['Cement'].fillna((tugas['Cement'].mean()))
tugas['Blast Furnace Slag']=tugas['Blast Furnace Slag'].fillna((tugas['Blast Furnace Slag'].mean()))
tugas['Fly Ash']=tugas['Fly Ash'].fillna((tugas['Fly Ash'].mean()))
tugas['Superplastic']=tugas['Superplastic'].fillna((tugas['Superplastic'].mean()))
np.sum(tugas.isnull())

Cement                  0
Blast Furnace Slag      0
Fly Ash                 0
Water                   0
Superplastic            0
Coarse Aggregate        0
Fine Aggregate          0
Age                     0
Compressive strength    0
dtype: int64

In [7]:
tugas.to_csv('datamiss.csv', sep=',')

In [8]:
from scipy import stats
z=np.abs(stats.zscore(tugas._get_numeric_data()))
print(z)
tugas=tugas[(z<3).all(axis=1)]
print(tugas.shape)

[[1.36539648e+00 0.00000000e+00 4.39359042e-16 ... 2.46760931e-01
  2.15564261e-02 4.80893616e-02]
 [1.36539648e+00 0.00000000e+00 4.39359042e-16 ... 2.46760931e-01
  2.15564261e-02 4.80907159e-02]
 [7.90535672e-01 6.06964352e-01 4.39359042e-16 ... 1.92819678e-02
  1.35700928e-03 4.80950272e-02]
 ...
 [6.33850380e-01 5.53348250e-01 2.78917948e+00 ... 1.69340557e+00
  2.15564261e-02 4.80935734e-02]
 [5.51793357e-01 1.37142620e+00 4.39359042e-16 ... 6.13056580e-01
  2.15564261e-02 4.80928947e-02]
 [1.57518377e+00 1.83170353e+00 9.43425988e-01 ... 5.24159319e-01
  2.15564261e-02 4.80929217e-02]]
(948, 9)

In [9]:
tugas.to_csv('dataoutlier.csv', sep=',')

In [14]:
tugas1=pd.read_csv("D:\Documents\Kuliah\SEMESTER 6\DATA MINING\Tugas 3 (Transformasi Data)\Concrete_Data.csv")
tugas1['Cement']=tugas1['Cement'].fillna((tugas1['Cement'].mean()))
tugas1['Blast Furnace Slag']=tugas1['Blast Furnace Slag'].fillna((tugas1['Blast Furnace Slag'].mean()))
tugas1['Fly Ash']=tugas1['Fly Ash'].fillna((tugas1['Fly Ash'].mean()))
tugas1['Superplastic']=tugas1['Superplastic'].fillna((tugas1['Superplastic'].mean()))
np.sum(tugas1.isnull())

Cement                  0
Blast Furnace Slag      0
Fly Ash                 0
Water                   0
Superplastic            0
Coarse Aggregate        0
Fine Aggregate          0
Age                     0
Compressive strength    0
dtype: int64

In [15]:
#normalisasi
from sklearn.preprocessing import normalize
tugas1norm=normalize(tugas1,norm='l2')
tugas1norm=pd.DataFrame(tugas1norm)
tugas1norm.tail()

,0,1,2,3,4,5,6,7,8
1025,0.325089,0.136434,0.010938,0.211237,0.010468,0.102443,0.903638,0.032932,0.052080
1026,0.263122,0.087712,0.094404,0.160062,0.001143,0.667931,0.664256,0.022866,0.025463
1027,0.158050,0.148364,0.019796,0.205092,0.006492,0.949787,0.083016,0.029801,0.025224
1028,0.121791,0.142919,0.083298,0.134422,0.008650,0.757541,0.603905,0.021434,0.025086
1029,0.023273,0.001298,0.067742,0.002249,0.007440,0.747927,0.658816,0.024224,0.028040

In [16]:
#3sigmoid
tugas1sigmoidal=(1-2.718281828**(-tugas1norm))/(1+2.718281828**(-tugas1norm))
tugas1sigmoidal=pd.DataFrame(tugas1sigmoidal)
tugas1sigmoidal.tail()

,0,1,2,3,4,5,6,7,8
1025,0.161128,0.068111,0.005469,0.105228,0.005234,0.051177,0.423393,0.016465,0.026034
1026,0.130807,0.043828,0.047167,0.079860,0.000572,0.322080,0.320432,0.011432,0.012731
1027,0.078861,0.074046,0.009898,0.102188,0.003246,0.442145,0.041484,0.014899,0.012611
1028,0.060821,0.071338,0.041625,0.067110,0.004325,0.361639,0.293098,0.010717,0.012542
1029,0.011636,0.000649,0.033858,0.001125,0.003720,0.357454,0.317989,0.012112,0.014019

In [17]:
tugas1sigmoidal.to_csv('datamiss_trans.csv', sep=',')

In [18]:
#normalisasi dengan menghapus data oulier
tugasnorm=normalize(tugas,norm='l2')
tugasnorm=pd.DataFrame(tugasnorm)
tugasnorm.tail()

,0,1,2,3,4,5,6,7,8
943,0.132740,0.207666,0.087012,0.146493,0.010155,0.686728,0.661139,0.022390,0.030322
944,0.263122,0.087712,0.094404,0.160062,0.001143,0.667931,0.664256,0.022866,0.025463
945,0.158050,0.148364,0.019796,0.205092,0.006492,0.949787,0.083016,0.029801,0.025224
946,0.121791,0.142919,0.083298,0.134422,0.008650,0.757541,0.603905,0.021434,0.025086
947,0.023273,0.001298,0.067742,0.002249,0.007440,0.747927,0.658816,0.024224,0.028040

In [19]:
#3sigmoid dengan menghapus data outlier
tugassigmoidal=(1-2.718281828**(-tugasnorm))/(1+2.718281828**(-tugasnorm))
tugassigmoidal=pd.DataFrame(tugassigmoidal)
tugassigmoidal.tail()

,0,1,2,3,4,5,6,7,8
943,0.066273,0.103461,0.043479,0.073116,0.005078,0.330477,0.319033,0.011194,0.015160
944,0.130807,0.043828,0.047167,0.079860,0.000572,0.322080,0.320432,0.011432,0.012731
945,0.078861,0.074046,0.009898,0.102188,0.003246,0.442145,0.041484,0.014899,0.012611
946,0.060821,0.071338,0.041625,0.067110,0.004325,0.361639,0.293098,0.010717,0.012542
947,0.011636,0.000649,0.033858,0.001125,0.003720,0.357454,0.317989,0.012112,0.014019

In [20]:
tugassigmoidal.to_csv('data_miss_out_trans.csv', sep=',')